# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.installed.cfg
*.egg
*.egg-info/
data/

# Virtual Environments
.venv/
venv/
ENV/
env/
/pip-wheel-metadata/

# Testing and Coverage
.toml/
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebooks
.ipynb_checkpoints

# Environment variables and secrets (never commit these!)
.env
.venv
env.txt
secrets.toml

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store
